.banner{
	-fx-background-color: #000000;
}
.hide{
	visibility: hidden;
}
.loginScrn{
	-fx-background-color: #ffffff;
	-fx-border-color: black;
}
.subBanner{
	-fx-background-color: gray;
}
.gameBar{
	-fx-background-color: #000000;
}
.items{
	-fx-background-color: gray;
	
}
.items:hover{
	-fx-background-color: green;
}
.add{
	-fx-background-color: black;
}
.inventory Label{
	-fx-border-color: white;
}
.HUD Label{
	-fx-text-fill: rgb(0,204,0);
	-fx-font-size: 1.25em;
}
.Map{
	-fx-background-image: url("gameMap.png");
	-fx-background-size: 800 500;
	-fx-background-position: center center;
}

.player-box {
	-fx-background-color: white;
}