.banner{
	-fx-background-color: #000000;
}
.hide{
	visibility: hidden;
}
.loginScrn{
	-fx-background-color: #ffffff;
	-fx-border-color: black;
}
.subBanner{
	-fx-background-color: gray;
}
.gameBar{
	-fx-background-color: #000000;
}
.items{
	-fx-background-color: #23282d;
	
}
.items:hover{
	-fx-background-color: green;
}
.add{
	-fx-background-color: black;
}
.inventory Label{
	-fx-border-color: white;
}
.HUD Label{
	-fx-text-fill: rgb(0,204,0);
	-fx-font-size: 1.25em;
}
.Map{
	-fx-background-image: url("gameMap.png");
	-fx-background-size: 800 500;
	-fx-background-position: center center;
}
#inventory{
	-fx-background-color: white;
}
.player-box {
	-fx-background-color: white;
}

#coldInventoryPane {
	-fx-background-image: url("cold.png");
	-fx-background-size: 80 80;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}

.flu-inventory {
	-fx-background-image: url("flu.png");
	-fx-background-size: 80 80;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}

.pox-inventory {
	-fx-background-image: url("pox.png");
	-fx-background-size: 80 80;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}

.sars-inventory {
	-fx-background-image: url("sars.png");
	-fx-background-size: 80 80;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}
#coldCureInventoryPane{
	-fx-background-image: url("coldCure.png");
	-fx-background-size: 80 75;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}
#fluCureInventoryPane{
	-fx-background-image: url("fluCure.png");
	-fx-background-size: 80 75;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}
#poxCureInventoryPane{
	-fx-background-image: url("poxCure.png");
	-fx-background-size: 80 80;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}
#sarsCureInventoryPane{
	-fx-background-image: url("sarsCure.png");
	-fx-background-size: 80 75;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}
#gameOverLbl{
	-fx-font: 6em Tahoma;

	
}

